@import "tailwindcss";
@plugin "daisyui";
@font-face {

font-family: Montserrat;

src: url("../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf");
}


@import "tailwindcss";

@theme {

--font-montserrat: "Montserrat", "sans-serif";
--animate-fade-in: fade-in 0.3s ease-in-out;
 @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@plugin "daisyui" {

themes: night --default;
}
